/*
   Author: Sebastian Schmittner
   Date: 2014.04.04
   LastAuthor: Sebastian Schmittner
   LastDate: 2015.07.07 21:37:52 (+02:00)
   Version: 0.0.2
*/
#topMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
  }
  
  #topMenu ul li {
	margin: 0 10px;
  }
  
  #topMenu ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  }
  
  #topMenu ul li a:hover, #topMenu ul li a:focus {
	background-color: #5588ff;
	color: #ffffff;
	border-radius: 3px;
  }
  
  #topMenu ul li:nth-child(5) {
	margin-left: auto;
  }